/**
 * Styles for the helpfulness form.
 */

.helpfulness_yes_title {
  display: none;
}

.helpfulness_no_title {
  display: none;
}

.helpfulness_yes_description {
  display: none;
}

.helpfulness_no_description {
  display: none;
}

.form-item-helpfulness-comments-no {
  display: none;
}

.form-item-helpfulness-comments-yes {
  display: none;
}

.helpfulness_submit_button {
  display: none;
}

.useragent_description {
  font-size: smaller;
}
